.chart {
    border: 1px solid gray;
    background-color: white;
    margin-left: 40px;
}

.chart text {
    fill: #495961;
    font: 10px sans-serif;
}

.chart line {
    stroke: #ccc;
}

.chart .best-fit{
    stroke: darkorange;
}

.chart .error-line{
    stroke: black;
    stroke-width: 4;
    stroke-dasharray: 2,2;
}

.chart .datapoint{
    fill: black;
}

h2{
    text-align: center;
}

.selected {
    background-color: gray;
}

.x-adder {
    width:20%;
}
.y-adder {
    width:20%;
}

button {
    margin: 5px;
}

/*
button:hover{
    border-radius: 5px;
    box-shadow: 2px 2px black;
    background: lightblue;
    border:2px solid green;
}
*/

.a-slider{
    width:50%;
}
.b-slider{
    width:50%;
}
