.chart {
    border: 1px solid gray;
    background-color: #AFAFAF;
}

.chart text {
    fill: #495961;
    font: 10px sans-serif;
}

.chart line {
    stroke: #ccc;
}

.chart .best-fit{
    stroke: #cc0000;
}

.chart .error-line{
    stroke: black;
    stroke-dasharray: 2,2;
}

h2{
    text-align: center;
}

.selected {
    background-color: gray;
}

.x-adder {
    width:20%;
}
.y-adder {
    width:20%;
}

button {
    margin: 5px;
}

.a-slider{
    width:50%;
}
.b-slider{
    width:50%;
}
